<h5>Êtes-vous sur de vouloir supprimmer cette figure ?</h5>

{{ form_start(form, {'attr': {'action': path('app_trick_delete',{'id': trick.id})}})}}
<button class="btn"> Annulé</button>
<button type="submit" class="btn btn-primary">Supprimer</button>
{{ form_end(form) }}