{% extends 'base.html.twig' %}

{% block body %}
    {% include 'module/slider.html.twig' %}
    <div class="container">
        <hr>
        <!-- Portfolio Section -->
        <h2>Derniers Tricks</h2>

        <div id='trickContent' class="row">



        </div>
        {% include('module/pagination_tricks.html.twig') %}

    </div>
{% endblock body %}


